<div class="control-section">
  <div class="control-section">
    <div class="grid-freezeprop">
      <div class="grid-freezecol">
        <div class="grid-freezecol">
          <span> Column </span>
        </div>
        <div class="grid-freezecol">
          <ejs-dropdownlist
            id="column"
            #columndropdown
            index="7"
            [dataSource]="columnData"
            (change)="columnChange($event)"
            [fields]="fields"
          ></ejs-dropdownlist>
        </div>
      </div>
      <div class="grid-freezecol">
        <div class="grid-freezecol">
          <span> Freeze Direction </span>
        </div>
        <div class="grid-freezecol">
          <ejs-dropdownlist
            id="direction"
            #directiondropdown
            index="0"
            [dataSource]="directionData"
            (change)="directionChange($event)"
            [fields]="fields"
          ></ejs-dropdownlist>
        </div>
      </div>
    </div>

    <ejs-treegrid
      #treegrid
      [dataSource]="data1"
      height="410"
      [treeColumnIndex]="1"
      childMapping="subtasks"
      allowSorting="true"
      allowSelection="false"
    >
      <e-columns>
        <e-column
          field="taskID"
          headerText="Task ID"
          width="100"
          textAlign="Right"
          freeze="Left"
        ></e-column>
        <e-column
          field="taskName"
          headerText="Task Name"
          width="250"
        ></e-column>
        <e-column
          field="startDate"
          headerText="Start Date"
          width="130"
          format="yMd"
          textAlign="Right"
        >
        </e-column>
        <e-column
          field="endDate"
          headerText="End Date"
          width="150"
          format="yMd"
          textAlign="Right"
        >
        </e-column>
        <e-column
          field="duration"
          headerText="Duration"
          width="130"
          textAlign="Right"
        ></e-column>
        <e-column
          field="progress"
          headerText="Progress"
          width="130"
          textAlign="Right"
        ></e-column>
        <e-column
          field="priority"
          headerText="Priority"
          width="160"
          textAlign="Left"
        ></e-column>
        <e-column
          field="designation"
          headerText="Designation"
          width="190"
          textAlign="Left"
        ></e-column>
        <e-column
          field="employeeID"
          headerText="EmployeeID"
          width="120"
          textAlign="Left"
        ></e-column>
        <e-column
          field="approved"
          headerText="Approved"
          width="140"
          displayAsCheckBox="true"
          textAlign="Left"
          freeze="Right"
        ></e-column>
      </e-columns>
    </ejs-treegrid>
    <ejs-dialog
      #alertDialog
      [buttons]="dlgButtons"
      [header]="header"
      [animationSettings]="animationSettings"
      [content]="content"
      [showCloseIcon]="showCloseIcon"
      [target]="target"
      [width]="width"
      [visible]="visible"
    >
    </ejs-dialog>

    <!-- custom code start -->
    <style>
      .grid-freezeprop {
        padding-bottom: 5px;
      }

      .grid-freezecol {
        display: inline-block;
        padding-right: 10px;
      }
    </style>
    <!-- custom code end -->
  </div>
</div>

<div class="col-lg-9 control-section">
  <ejs-treegrid
    #treegrid
    [dataSource]="data"
    height="50vh"
    [toolbar]="toolbar"
    [showColumnChooser]="true"
    [selectionSettings]="selectionOptions"
    [contextMenuItems]="contextMenuItems"
    (contextMenuClick)="contextMenuClick($event)"
    allowFiltering="true"
    [filterSettings]="filterSettings"
    childMapping="subtasks"
    [allowRowDragAndDrop]="true"
    [allowReordering]="true"
    [treeColumnIndex]="1"
  >
    <e-columns>
      <ng-container *ngFor="let column of dataColumn; let i = index">
        <e-column
          *ngIf="i == 0"
          field="{{ column.columnName }}"
          headerText="{{ column.columnName }}"
          textAlign="{{ column.metadata.alignment }}"
          width="{{ column.metadata.minwidth }}"
        ></e-column>
        <e-column
          *ngIf="i > 0"
          field="{{ column.columnName }}"
          headerText="{{ column.columnName }}"
          textAlign="{{ column.metadata.alignment }}"
          width="{{ column.metadata.minwidth }}"
        ></e-column>
      </ng-container>

      <!-- <e-column field="task Name" headerText="Task Name" width="200"></e-column> -->
    </e-columns>
  </ejs-treegrid>
</div>

<ejs-dialog
  #alertDialog
  [buttons]="dlgButtons"
  [header]="header"
  [animationSettings]="animationSettings"
  [content]="content"
  [showCloseIcon]="showCloseIcon"
  [target]="target"
  [width]="width"
  [visible]="visible"
>
</ejs-dialog>

<div class="control-section">
  <ejs-dialog
    #addColumnDialog
    [buttons]="dlgButtons"
    [header]="header"
    [animationSettings]="animationSettings"
    [showCloseIcon]="showCloseIcon"
    [target]="target"
    width="500px"
    height="500px"
    [visible]="false"
  >
    <ng-template #content>
      <form class="mt-2" [formGroup]="addColumnForm">
        <div class="form-group">
          <label class="mb-1">Column Name</label>
          <ejs-textbox
            formControlName="columnName"
            autocomplete="off"
            placeholder="Enter Column Name"
          >
          </ejs-textbox>
        </div>
        <div class="form-group mt-2">
          <label class="mb-1">Select Data Type</label>
          <ejs-dropdownlist
            id="addtype"
            formControlName="datatype"
            [dataSource]="dataTypes"
            placeholder="Select your option"
          ></ejs-dropdownlist>
        </div>
        <div class="form-group mt-2">
          <label class="mb-1">Minimum Width (px)</label>
          <ejs-textbox
            type="number"
            autocomplete="off"
            formControlName="minwidth"
            placeholder="Enter Minimum Width"
          >
          </ejs-textbox>
        </div>
        <div class="form-group mt-2">
          <label class="mb-1">Background Color</label><br />
          <input
            formControlName="bgcolor"
            ejs-colorpicker
            type="color"
            id="colorpicker"
          />
        </div>
        <div class="form-group mt-2">
          <label class="mb-1">Color</label><br />
          <input
            formControlName="color"
            ejs-colorpicker
            type="color"
            id="colorpicker"
          />`
        </div>
        <div class="form-group mt-2">
          <label class="mb-1">Font</label>
          <ejs-textbox
            type="number"
            autocomplete="off"
            formControlName="font"
            placeholder="Enter Font"
          >
          </ejs-textbox>
        </div>
        <div class="form-group mt-2">
          <label class="mb-1">Alignment</label>
          <ejs-dropdownlist
            id="addalignment"
            formControlName="alignment"
            [dataSource]="alignmentType"
            placeholder="Select your option"
          ></ejs-dropdownlist>
        </div>
        <div class="form-group mt-2">
          <label class="mb-1">Text Wrap</label><br />
          <input type="checkbox" formControlName="textwrap" />
        </div>
      </form>
    </ng-template>
    <ng-template #footerTemplate>
      <div class="button-container">
        <button ejs-button cssClass="e-normal" (click)="onCancelClick()">
          Cancel
        </button>
        <button
          ejs-button
          cssClass="e-normal"
          [isPrimary]="true"
          (click)="createColumn()"
        >
          Save
        </button>
      </div>
    </ng-template>
  </ejs-dialog>
</div>

<div class="control-section">
  <ejs-dialog
    #editColumnDialog
    [buttons]="dlgButtons"
    [header]="header"
    [animationSettings]="animationSettings"
    [showCloseIcon]="showCloseIcon"
    [target]="target"
    width="500px"
    height="500px"
    [visible]="false"
  >
    <ng-template #content>
      <form class="mt-2" [formGroup]="addColumnForm">
        <div class="form-group">
          <label class="mb-1">Column Name</label>
          <ejs-textbox
            [htmlAttributes]="htmlAttributes"
            formControlName="columnName"
            autocomplete="off"
            placeholder="Enter Column Name"
          >
          </ejs-textbox>
        </div>
        <div class="form-group mt-2">
          <label class="mb-1">Data Type</label>
          <ejs-textbox
            [htmlAttributes]="htmlAttributes"
            formControlName="datatype"
            autocomplete="off"
            placeholder="Enter Column Name"
          >
          </ejs-textbox>
          <!-- <ejs-dropdownlist id='edittype' formControlName="datatype" [dataSource]='dataTypes' placeholder = 'Select your option'></ejs-dropdownlist> -->
        </div>
        <div class="form-group mt-2">
          <label class="mb-1">Minimum Width (px)</label>
          <ejs-textbox
            type="number"
            autocomplete="off"
            formControlName="minwidth"
            placeholder="Enter Minimum Width"
          >
          </ejs-textbox>
        </div>
        <div class="form-group mt-2">
          <label class="mb-1">Background Color</label><br />
          <input
            formControlName="bgcolor"
            ejs-colorpicker
            type="color"
            id="colorpicker"
          />
        </div>
        <div class="form-group mt-2">
          <label class="mb-1">Color</label><br />
          <input
            formControlName="color"
            ejs-colorpicker
            type="color"
            id="colorpicker"
          />`
        </div>
        <div class="form-group mt-2">
          <label class="mb-1">Font</label>
          <ejs-textbox
            type="number"
            autocomplete="off"
            formControlName="font"
            placeholder="Enter Font"
          >
          </ejs-textbox>
        </div>
        <div class="form-group mt-2">
          <label class="mb-1">Alignment</label>
          <ejs-dropdownlist
            id="editalignment"
            formControlName="alignment"
            [dataSource]="alignmentType"
            placeholder="Select your option"
          ></ejs-dropdownlist>
        </div>
        <div class="form-group mt-2">
          <label class="mb-1">Text Wrap</label><br />
          <input type="checkbox" formControlName="textwrap" />
        </div>
      </form>
    </ng-template>
    <ng-template #footerTemplate>
      <div class="button-container">
        <button ejs-button cssClass="e-normal" (click)="onCancelClick()">
          Cancel
        </button>
        <button
          ejs-button
          cssClass="e-normal"
          [isPrimary]="true"
          (click)="createColumn()"
        >
          Save
        </button>
      </div>
    </ng-template>
  </ejs-dialog>
</div>

<div class="control-section">
  <ejs-dialog
    #deleteColumnDialog
    [buttons]="dlgButtons"
    [header]="deletetext"
    [animationSettings]="animationSettings"
    [showCloseIcon]="showCloseIcon"
    [target]="target"
    width="500px"
    [visible]="false"
  >
    <ng-template #content>
      <div class="style-wrapper">
        <h4>Are you sure you want to delete this column ?</h4>
      </div>
    </ng-template>
    <ng-template #footerTemplate>
      <div class="button-container">
        <button
          ejs-button
          cssClass="e-normal"
          [isPrimary]="true"
          (click)="deleteColumnClick()"
        >
          Yes
        </button>
        <button ejs-button cssClass="e-normal" (click)="onCancelClick()">
          No
        </button>
      </div>
    </ng-template>
  </ejs-dialog>
</div>

<div class="control-section">
  <ejs-dialog
    #addRowDialog
    [buttons]="dlgButtons"
    [header]="header"
    [animationSettings]="animationSettings"
    [showCloseIcon]="showCloseIcon"
    [target]="target"
    width="500px"
    height="500px"
    [visible]="false"
  >
    <ng-template #content>
      <form class="mt-2" [formGroup]="addRowForm">
        <div class="form-group" *ngFor="let con of dataColumn">
          <label class="mb-1" *ngIf="con.columnName != 'Task ID'">{{
            con.columnName
          }}</label>
          <ejs-textbox
            *ngIf="
              con.metadata.datatype == 'STRING' && con.columnName != 'Task ID'
            "
            formControlName="{{ con.columnName }}"
            placeholder="{{ con.columnName }}"
          ></ejs-textbox>
          <ejs-datepicker
            *ngIf="con.metadata.datatype == 'DATE'"
            formControlName="{{ con.columnName }}"
            placeholder="{{ con.columnName }}"
          ></ejs-datepicker>
          <ejs-textbox
            type="number"
            *ngIf="
              con.metadata.datatype == 'NUM' && con.columnName != 'Task ID'
            "
            formControlName="{{ con.columnName }}"
            placeholder="{{ con.columnName }}"
          ></ejs-textbox>
          <input
            type="checkbox"
            *ngIf="con.metadata.datatype == 'BOOLEAN'"
            formControlName="{{ con.columnName }}"
          />
          <select
            class="form-control"
            *ngIf="con.metadata.datatype == 'DROPDOWN'"
            formControlName="{{ con.columnName }}"
          >
            <option value="" disabled selected>Select your option</option>
            <option value="text" *ngFor="let i of [1, 2, 3, 4, 5]">
              Text{{ 1 }}
            </option>
          </select>
        </div>
      </form>
    </ng-template>
    <ng-template #footerTemplate>
      <div class="button-container">
        <button ejs-button cssClass="e-normal" (click)="onCancelClick()">
          Cancel
        </button>
        <button
          ejs-button
          cssClass="e-normal"
          [isPrimary]="true"
          (click)="createNewRow()"
        >
          Save
        </button>
      </div>
    </ng-template>
  </ejs-dialog>
</div>

<div class="control-section">
  <ejs-dialog
    #addSubTaskDialog
    [buttons]="dlgButtons"
    [header]="header1"
    [animationSettings]="animationSettings"
    [showCloseIcon]="showCloseIcon"
    [target]="target"
    width="500px"
    height="500px"
    [visible]="false"
  >
    <ng-template #content>
      <form class="mt-2" [formGroup]="addRowForm">
        <div class="form-group" *ngFor="let con of dataColumn">
          <label class="mb-1" *ngIf="con.columnName != 'Task ID'">{{
            con.columnName
          }}</label>
          <ejs-textbox
            *ngIf="
              con.metadata.datatype == 'STRING' && con.columnName != 'Task ID'
            "
            formControlName="{{ con.columnName }}"
            placeholder="Enter Task Name"
          ></ejs-textbox>
          <ejs-datepicker
            *ngIf="con.metadata.datatype == 'DATE'"
            formControlName="{{ con.columnName }}"
            placeholder="Select Start Date"
          ></ejs-datepicker>
          <ejs-textbox
            type="number"
            *ngIf="
              con.metadata.datatype == 'NUM' && con.columnName != 'Task ID'
            "
            formControlName="{{ con.columnName }}"
            placeholder="{{ con.columnName }}"
          ></ejs-textbox>
          <input
            type="checkbox"
            *ngIf="con.metadata.datatype == 'BOOLEAN'"
            formControlName="{{ con.columnName }}"
          />
          <select
            class="form-control"
            *ngIf="con.metadata.datatype == 'DROPDOWN'"
            formControlName="{{ con.columnName }}"
          >
            <option value="" disabled selected>Select your option</option>
            <option value="text" *ngFor="let i of [1, 2, 3, 4, 5]">
              Text{{ 1 }}
            </option>
          </select>
        </div>
      </form>
    </ng-template>
    <ng-template #footerTemplate>
      <div class="button-container">
        <button ejs-button cssClass="e-normal" (click)="onCancelClick()">
          Cancel
        </button>
        <button
          ejs-button
          cssClass="e-normal"
          [isPrimary]="true"
          (click)="createNewRow()"
        >
          Save
        </button>
      </div>
    </ng-template>
  </ejs-dialog>
</div>
